:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}
a {
  color: #242424;
  text-decoration: none;
  font-size: 20px;
}
.last-link {
  margin-bottom: 20px;
}
.input-text {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  margin-top: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.timer {
  color: #242424;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}

.field {
  margin: 0 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.value {
  display: block;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
}

.label {
  font-weight: 400;
  font-size: 16px;
}
