:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}
a {
  color: #242424;
  text-decoration: none;
  font-size: 20px;
}
.last-link {
  margin-bottom: 20px;
}
.input-text {
  width: 272px;

  border: 1px solid #808080;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  margin-top: 8px;
  margin-right: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.input-text:hover,
.input-delay:hover,
.input-radio:hover,
.fieldset:hover {
  border: 1px solid #000000;
}
.input-text:active,
.input-delay:active {
  border: 1px solid #4e75ff;
  color: #000000;
}
.input-text:disabled {
  border: 1px solid #808080;
  color: #808080;
}
.timer {
  color: #242424;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
  width: 346px;
}

.field {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.value {
  display: block;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
}

.label {
  font-weight: 400;
  font-size: 16px;
}
.button {
  margin-top: 8px;
  padding: 5px 5px;

  width: 75px;
  height: 40px;

  color: #ffffff;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.7px;
  border: 1px solid #4e75ff;
  border-radius: 10px;
}
.button:hover,
.button-form {
  background-color: #6c8cff;
}
.button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
.delay-form {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}
.input-delay {
  width: 360px;

  border: 1px solid #808080;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  margin-top: 8px;
  margin-right: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.legend {
  margin-left: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.fieldset {
  width: 374px;
  height: 64px;

  border: 1px solid #808080;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 24px;
}
.label-radio {
  padding-left: 42px;
  letter-spacing: 1px;
}
input[type='radio'] {
  accent-color: #4e75ff;
}
.button-form {
  padding: 5px 5px;

  width: 380px;
  height: 40px;

  color: #ffffff;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.7px;
  border: 1px solid #4e75ff;
  border-radius: 10px;
}
